@tailwind base;
@tailwind components;
@tailwind utilities;

.openAnimate {
  animation: openAnimation 1s ease-in-out;
}

.closeAnimate {
  animation: closeAnimation 1s ease-in-out forwards;
}

@keyframes openAnimation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes closeAnimation {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
